body {
	background-image: url(http://cdn.wallpapersafari.com/82/61/wCPZ3Y.jpg);
}

#gamePlay {
	display: none;
}

#results {
	display:none;
	text-align: center;
}


.buttons {
	text-align: center;
}

#show-timeRemaining {
	text-align: center;
	color: #11f0df;
}

h1 {
	text-align: center;
}

#start {
	text-align: center;
}

p {
	color: #ee59e8;
}

label {
	color: white;
}

#btnSubmit {
	margin-bottom: 20px;
	width: 200px;
	height: 60px;
}

input {
	font-size: 20px;
	background: #1a1aff;
	color: white;
}

.jumbotron {
	background-color: grey;
}

#picture {
	width: 200px;
	height: 250px;
	position: relative;
	left: 575px;
	margin-bottom: 15px;
	border: solid 3px white;
}

#thisAnswer {
	color: white;
	font-size: 30px;
	font-weight: 400;
}

#main {
	color: white;
}

#buttonStart {
	background-color: gold;
	border: solid 2px white;
}

#soraImage {
	position: relative;
	left: 0px;
	width: 300px;
	height: 300px;
}